<!-- navbar container -->
<section class="container-fluid my-5">
    <!-- navbar -->
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: white;">
      <div class="container-fluid">
        <!-- brand -->
        <a class="navbar-brand mx-md-4" href="/ghost_32/">kalash sharma</a>

        <!-- responsive button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <!-- responsive button ends here -->

        <!-- navbar contents -->
        <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
          <!-- website main nav links -->
          <ul class="navbar-nav mx-md-4">
            <li class="nav-item mx-md-2">
                <a class="nav-link" href="/ghost_32/">Home</a>
            </li>
            <li class="nav-item mx-md-2">
                <a class="nav-link" href="/ghost_32/projects">Projects</a>
            </li>
            <li class="nav-item mx-md-2">
              <a class="nav-link" href="#">Resume</a>
            </li>
            <li class="nav-item mx-md-2">
                <a class="nav-link" href="#">Blogs</a>
            </li>
            <li class="nav-item mx-md-2">
              <a class="nav-link" href="/ghost_32/about">About</a>
            </li>
            <li class="nav-item mx-md-2">
             <a class="nav-link" href="/ghost_32/contact">Contact</a>
            </li>
          </ul><!-- website main nav links ends here -->

          <!-- nav social follow links -->
          <ul class="navbar-nav mx-md-5 d-flex flex-row justify-content-center">
            <li class="nav-item mx-1">
                <a class="nav-link" target="_blank" href="https://github.com/k99sharma">
                  <i class="fab fa-github"></i>
                </a>
            </li>
            <li class="nav-item mx-1">
                <a class="nav-link" target="_blank" href="https://www.instagram.com/k99.sharma/">
                  <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li class="nav-item mx-1">
              <a class="nav-link" target="_blank" href="https://www.linkedin.com/in/kalash-sharma-a4a6a6194/">
                <i class="fab fa-linkedin"></i>
               </a>
            </li>
            <li class="nav-item mx-1">
             <a class="nav-link" target="_blank" href="https://twitter.com/KalashS77595946">
              <i class="fab fa-twitter"></i>
             </a>
            </li>
          </ul><!-- nav social follow links here ends here -->

        </div><!-- navbar contents ends here -->

      </div>

    </nav>
    <!-- navbar ended here -->
  </section>
  <!-- navbar contents ends here -->