<section class="container-fluid" id="footer">

    <!-- blog alert form container -->
    <div class="container" id="alert-form">
      <h3>Sign up for my newsletter</h3>
      <br>
      <p>Join my mailing list to get news and updates</p>

      <!-- form -->
      <form class="row g-3 align-items-center justify-content-center" action="/ghost_32/mailingList" method="POST" autocomplete="off">
        <div class="col-auto">
          <label for="inline-email" class="visually-hidden">Email Address</label>
          <input type="email" class="form-control" id="inline-email" name="email" placeholder="Email Address" required>
        </div>

        <div class="col-auto">
          <button class="btn blackButton" type="submit">Submit</button>
        </div>
      </form>
      <!-- form ends here -->
    </div>
    <!-- blog alert form container ends here -->
    
    <!-- follow me links container -->
    <div class="container mb-4" id="follow-me-container">
      <div class="d-flex flex-row justify-content-center mb-5">
        <a class="mx-2" target="_blank" href="https://github.com/k99sharma"><i class="fab fa-github"></i></a>
        <a class="mx-2" target="_blank" href="https://www.instagram.com/k99.sharma/"><i class="fab fa-instagram"></i></a>
        <a class="mx-2" target="_blank" href="https://www.linkedin.com/in/kalash-sharma-a4a6a6194/"><i class="fab fa-linkedin"></i></a>
      </div>

      <small>© 2021 Kalash Sharma. All rights reserved</small>
    </div>
    <!-- follow me container ends here -->

  </section>
