<!-- header -->
<%- include('partials/header.ejs') %>

<!-- navbar -->
<%- include('partials/navbar.ejs') %>

<!-- main-content -->
<div class="container-fluid" id="about-container">
    <!-- grid is used for positing the content in middle -->
    <div class="row">

        <!-- decoy container -->
        <div class="d-none d-md-block col-md-3"></div>

        <div class="col-12 col-md-6">
            <!-- image container -->
            <div class="container mb-5">
                <img src="https://cdn.pixabay.com/photo/2016/03/27/22/22/fox-1284512_1280.jpg" class="img-fluid" alt="test image">
            </div>

            <div class="container" id="content">
                <h1>My Story</h1>

                <br />

                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Deleniti enim beatae molestias officia adipisci voluptates tempore expedita fuga, soluta nulla necessitatibus natus ratione. 
                    Aspernatur, explicabo ipsa tempora distinctio veritatis aliquam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Deleniti enim beatae molestias officia adipisci voluptates tempore expedita fuga, soluta nulla necessitatibus natus ratione. 
                    Aspernatur, explicabo ipsa tempora distinctio veritatis aliquam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Deleniti enim beatae molestias officia adipisci voluptates tempore expedita fuga, soluta nulla necessitatibus natus ratione. 
                    Aspernatur, explicabo ipsa tempora distinctio veritatis aliquam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Deleniti enim beatae molestias officia adipisci voluptates tempore expedita fuga, soluta nulla necessitatibus natus ratione. 
                    Aspernatur, explicabo ipsa tempora distinctio veritatis aliquam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Deleniti enim beatae molestias officia adipisci voluptates tempore expedita fuga, soluta nulla necessitatibus natus ratione. 
                    Aspernatur, explicabo ipsa tempora distinctio veritatis aliquam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Deleniti enim beatae molestias officia adipisci voluptates tempore expedita fuga, soluta nulla necessitatibus natus ratione. 
                    Aspernatur, explicabo ipsa tempora distinctio veritatis aliquam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Deleniti enim beatae molestias officia adipisci voluptates tempore expedita fuga, soluta nulla necessitatibus natus ratione. 
                    Aspernatur, explicabo ipsa tempora distinctio veritatis aliquam.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Deleniti enim beatae molestias officia adipisci voluptates tempore expedita fuga, soluta nulla necessitatibus natus ratione. 
                    Aspernatur, explicabo ipsa tempora distinctio veritatis aliquam.
                </p>
            </div> 
        </div>

        <!-- decoy container -->
        <div class="d-none d-md-block col-md-3"></div>

    </div>
</div>

<!-- newsletter -->
<%- include('partials/newsletter.ejs') %>

<!-- footer -->
<%- include('partials/footer.ejs') %>