<!-- header  -->
<%- include('partials/header.ejs') %>

<!-- navbar -->
<%- include('partials/navbar.ejs') %>


<!-- main container -->
<section class="container mb-5" id="main-container">
    <div class="container text-center">
        <h1>Admin Controls</h1>
        <br />
        <div class="row">
            <!-- decoy column -->
            <div class="d-none d-md-block col-2"></div>

            <!-- main column -->
            <div class="col-12 col-md-8">

              <!-- options nav -->
              <ul class="nav nav-tabs" id="adminTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="projects-tab" data-bs-toggle="tab" href="#projects" role="tab" aria-controls="projects" aria-selected="true">Projects</a>
                </li>

                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="blogs-tab" data-bs-toggle="tab" href="#blogs" role="tab" aria-controls="blogs" aria-selected="false">Blogs</a>
                </li>
              </ul>

              <!-- tab contents -->
              <div class="tab-content" id="myTabContent">
                <!-- projects-->
                <div class="tab-pane fade show active" id="projects" role="tabpanel" aria-labelledby="projects-tab">
                  <div class="card">
                    <div class="card-body">
                      <!-- new projects entry modal -->
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#project-modal">
                          Add Project
                        </button>

                        <!-- Modal -->
                        <div class="modal fade" id="project-modal" tabindex="-1" aria-labelledby="project-modal" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h5 class="modal-title" id="projectModalLabel">New Project Entry</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>

                              <div class="modal-body" id="projectModalBody">
                                <!-- new project form-->
                                <form action="/ghost_32/admin/newProject" method="POST" autocomplete="off">
                                  <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="projectName" name="projectName" placeholder="Project Name" required>
                                    <label for="projectName">Project Name<span class="redLabel">*</span></label>
                                  </div>

                                  <div class="form-floating mb-3">
                                    <textarea class="form-control" placeholder="Project Description" id="projectDescription" name="projectDescription" required></textarea>
                                    <label for="projectDescription">Project Description<span class="redLabel">*</span></label>
                                  </div>

                                  <div class="form-floating mb-3">
                                    <textarea class="form-control" placeholder="Project MadeBy" id="projectMadeBy" name="projectMadeBy" required></textarea>
                                    <label for="projectMadeBy">Project MadeBy<span class="redLabel">*</span></label>
                                  </div>

                                  <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="thumbnailLink" name="thumbnailLink" placeholder="Thumbnail Link" required>
                                    <label for="thumbnailLink">Thumbnail Link<span class="redLabel">*</span></label>
                                  </div>

                                  <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="imageLink" name="imageLink" placeholder="Image Link" required>
                                    <label for="imageLink">Image Link<span class="redLabel">*</span></label>
                                  </div>

                                  <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="githubLink" name="githubLink" placeholder="Github Link" required>
                                    <label for="githubLink">Github Link<span class="redLabel">*</span></label>
                                  </div>

                                  <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="hostingLink" name="hostingLink" placeholder="Hosting Link">
                                    <label for="hostingLink">Hosting Link</label>
                                  </div>

                                  <div class="form-floating mb-3">
                                    <input type="password" class="form-control" id="adminPassword" name="adminPassword" placeholder="Admin Password" required>
                                    <label for="adminPassword">Admin Password<span class="redLabel">*</span></label>
                                  </div>
    
                                  <div class="modal-footer">
                                    <button type="submit" class="btn btn-success">Submit</button>
                                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                                  </div>
                                </form>
                                <!-- new project form ends here -->
                              </div>   
                            </div>
                          </div>
                          <!-- modal ends here -->
                        </div>

                      <!-- new projects modal entry ends here -->

                      <br /><br />
                      <a class="btn btn-primary" href="/ghost_32/admin/projectCollection">Project Collection</a>
                    </div>
                  </div>
                </div>

                <!-- blogs -->
                <div class="tab-pane fade" id="blogs" role="tabpanel" aria-labelledby="blogs-tab">
                  <div class="card">
                    <div class="card-body">
                      <a class="btn btn-success btn-lg" href="#">New Blog</a>
                      <br /><br />
                      <a class="btn btn-primary btn-lg" href="#">Blog Collections</a>
                    </div>
                  </div>
                </div>
              </div>
              <!-- options nav ended here -->

            </div>
            <!-- main column ends here -->

            <!-- decoy column -->
            <div class="d-none d-md-block col-md-2"></div>
        </div>
    </div>
</section>



<!-- footer -->
<%- include('partials/footer.ejs') %>