<!-- header  -->
<%- include('partials/header.ejs') %>

<!-- navbar -->
<%- include('partials/navbar.ejs') %>


    <!-- main content -->
    <section class="container-fluid" id="main-content">
      <div class="row">
        <!-- content column -->
        <div class="col-12 col-md-8" id="content-column">
          <div class="container text-center" id="content">
            <h2>I am Kalash Sharma</h2>
            <br>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt, iure velit voluptatem porro, fugit eos sunt excepturi facere aperiam reprehenderit minus doloribus harum distinctio rem sequi corrupti? Laboriosam, repudiandae quas.</p>
          </div>      
        </div>
        <!-- content column ends here -->

        <!-- image column -->
        <div class="col-12 col-md-4" id="image-column">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur quibusdam deleniti, quidem sed aliquam quaerat corporis totam, ullam ex, doloribus accusantium dolores illo nisi. Ut consectetur animi fugiat dicta modi.</p>
        </div>
        <!-- image column ends here -->
      </div>
    </section><!-- main content ends here -->


<!-- newsletter -->
<%- include('partials/newsletter.ejs') %>

<!-- footer -->
<%- include('partials/footer.ejs') %>
<!-- footer ends here -->


