<!-- header  -->
<%- include('partials/header.ejs') %>

<!-- navbar -->
<%- include('partials/navbar.ejs') %>

<!-- main content -->
<section class="container-fluid" id="projects-section">
    
</section>

<!-- footer -->
<%- include('partials/footer.ejs') %>
<!-- footer ends here -->
