*{
  margin: 0;
  padding: 0;
  border: 0;
}

body{
  background-color: white;
}

#content-column{
  background-color: black;
}

#image-column{
  background-color: yellow;
}

#content{
  color: white;
  padding-top: 35%;
  padding-bottom: 35%;
}

#footer{
  text-align: center;
  display: block;
  padding-top: 10%;
}

#alert-form{
  padding-top: 10%;
  padding-bottom: 10%;
}

